<ion-view title="Contacts" id="page1">
  <ion-content padding="true" class="has-header">
    <div id="contacts-button-bar2" class="button-bar"></div>
    <form id="contacts-form1" class="list">
      <label class="item item-input" id="contacts-search1" name="Search Bar">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </form>
    <div>
      <p>
      </p>
      <h5> Martina Dominique Pineda </h5>
      <center>
        <u style="font-size:24px">
          <b>My Number : 09550478939</b>
        </u>


        <p></p>
      </center>
    </div>
    <ion-list id="contacts-list1">
      <ion-item class="item-avatar item-icon-right" id="contacts-list-item2" ui-sref="criselle()">
        <h2>John Carlo Cortez</h2>
        <p>BSIT UA</p>
        <i class="icon ion-android-more-vertical"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="contacts-list-item1" ui-sref="rC()">
        <img src="img/qJk63fD9Si68XWoadJBW_rc.jpg">
        <h2>RC Patdu</h2>
        <p>BSIT UA</p>
        <i class="icon ion-android-more-vertical"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="contacts-list-item7" ui-sref="criselle()">
        <img src="img/K0kp93WSe6q3oNoSkwKK_cri.jpg">
        <h2>Criselle Pineda</h2>
        <i class="icon ion-android-more-vertical"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="contacts-list-item10" ui-sref="shantal()">
        <h2>Shantal Pineda</h2>
        <i class="icon ion-android-more-vertical"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="contacts-list-item9" ui-sref="lilian()">
        <h2>Lilian Pineda</h2>
        <i class="icon ion-android-more-vertical"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="contacts-list-item11" ui-sref="lester()">
        <img src="img/Q0baNsXT4WuNTdnxS5Ut_lester.jpg">
        <h2>Lester Loyola</h2>
        <i class="icon ion-android-more-vertical"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="contacts-list-item8" ui-sref="ederick()">
        <img src="img/xP4nteVJRqGjqryAEPCh_dick.jpg">
        <h2>Ederick Fernandez</h2>
        <p>fboy</p>
        <i class="icon ion-android-more-vertical"></i>
      </ion-item>
    </ion-list>
    <button id="contacts-button62" class="button button-stable icon ion-ios-email"></button>
    <button id="contacts-button61" class="button button-stable icon ion-ios-star"></button>
    <a ui-sref="keypad()" id="contacts-button13" style="font-weight:600;" class="button button-stable icon ion-ios-keypad"></a>
    <button id="contacts-button14" style="font-weight:600;" class="button button-stable icon ion-ios-people"></button>
    <a ui-sref="recents()" id="contacts-button12" style="font-weight:600;border-radius:-2px -2px -2px -2px;" class="button button-stable icon ion-ios-clock"></a>
  </ion-content>
</ion-view>