<ion-view title="Criselle" id="page3">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/4FTTFJQwebgWYkLObxPg_cri.jpg" style="display: block; width: 50%; margin-left: auto; margin-right: auto;">
    </div>
    <center>
      <p style="font-size:25px;">
        <br>
        <b>
          0955-047-939
        </b>
      </p>
    </center>
    <button id="criselle-button60" class="button button-balanced button-block icon ion-ios-telephone"></button>
  </ion-content>
</ion-view>