<ion-view title="Keypad" id="page9">
  <ion-content padding="true" class="has-header">
    <div id="keypad-button-bar8" class="button-bar">
      <a ui-sref="recents()" id="keypad-button41" class="button button-stable button-block icon ion-ios-clock"></a>
      <a ui-sref="contacts()" id="keypad-button42" class="button button-stable button-block icon ion-ios-people"></a>
      <button id="keypad-button43" class="button button-stable button-block icon ion-ios-keypad"></button>
    </div>
    <form id="keypad-form2" class="list">
      <label class="item item-input" id="keypad-input1">
        <input type="number" placeholder="Number">
      </label>
    </form>
    <div id="keypad-button-bar5" class="button-bar">
      <button id="keypad-button28" class="button button-dark button-outline">1</button>
      <button id="keypad-button29" class="button button-dark button-outline">2</button>
      <button id="keypad-button30" class="button button-dark button-outline">3</button>
    </div>
    <div id="keypad-button-bar9" class="button-bar">
      <button id="keypad-button47" class="button button-dark button-outline">4</button>
      <button id="keypad-button48" class="button button-dark button-outline">5</button>
      <button id="keypad-button49" class="button button-dark button-outline">6</button>
    </div>
    <div id="keypad-button-bar10" class="button-bar">
      <button id="keypad-button50" class="button button-dark button-outline">7</button>
      <button id="keypad-button51" class="button button-dark button-outline">8</button>
      <button id="keypad-button52" class="button button-dark button-outline">9</button>
    </div>
    <div id="keypad-button-bar11" class="button-bar">
      <button id="keypad-button56" class="button button-dark button-outline">*</button>
      <button id="keypad-button57" class="button button-dark button-outline">0</button>
      <button id="keypad-button58" class="button button-dark button-outline">#</button>
    </div>
    <button id="keypad-button37" style="font-weight:600;" class="button button-balanced button-block icon ion-ios-telephone"></button>
    <button id="keypad-button59" class="button button-positive button-outline">Del</button>
  </ion-content>
</ion-view>