<ion-view title="Recents" id="page7">
  <ion-content padding="true" class="has-header">
    <div id="recents-button-bar3" class="button-bar">
      <button id="recents-button18" class="button button-stable button-block icon ion-ios-clock"></button>
      <button id="recents-button19" class="button button-stable button-block icon ion-ios-people"></button>
      <button id="recents-button20" class="button button-stable button-block icon ion-ios-keypad"></button>
    </div>
  </ion-content>
</ion-view>